{% extends 'blog/default/view/general.html' %}
{% load i18n %}
{% load field_renderer %}

{% block includes %}
   {{ block.super }}
   <link href="{{ STATIC_URL }}css/blogs_create.css" rel="stylesheet" type="text/css">
   <script src="{{ STATIC_URL }}js/blogs_create.js" type="text/javascript"></script>
   <script src="{{ STATIC_URL }}address/address.js" type="text/javascript"></script>
   <link href="{{ STATIC_URL }}blogs_default/css/create.css" rel="stylesheet" type="text/css">
   <link href="{{ STATIC_URL }}css/blogs_address.css" rel="stylesheet" type="text/css">
   <script src="{{ STATIC_URL }}js/blog_module.js" type="text/javascript"></script>
   {% include 'includes/pagination.inc' %}
   {% include 'includes/googlemaps.inc' %}
{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        {% if accessType >= accessTypes.ADMIN %}
            BlogForm.initCreate();

            $('.addressForm').rest_Address("init", '{% url common.views.getCities %}',
                    function()
                    {
                        Address.refreshGoogleMap('.addressForm', GoogleMaps.moveAndMark);
                    });
            $(function()
            {
                $("#showMap").click(function()
                {
                   $('#addresses').toggle();
                   $("#googleMap").toggle();
                   if ( $("#googleMap").is(":visible") )
                   {
                       GoogleMaps.init('#googleMap');
                       Address.refreshGoogleMap('.addressForm', GoogleMaps.moveAndMark);
                   }
                   return false;
                });
                $('{{ moduleFormSet.prefix }}').ajaxSimpleForm();
            });//TODO move to class
        {% endif %}
    </script>
{% endblock %}


{% block logoSrc %}
    {% if blogForm %}
        {% field blogForm.logo "render=preview" %}
    {% endif %}
{% endblock %}

{% block logoBottom %}
    {% field blogForm.logo "render=upload" %}
{% endblock logoBottom%}


{% block formDefinition %}
        {% if accessLevel >= accessLevels.ADMIN  %}
            <form id="blogData"
                  {% if blogForm.instance.id %}
                  action="{% url blog.views.edit  blogForm.instance.id None %}"
                  {% else %}
                  action="{% url blog.views.create %}"
                  {% endif %}
            enctype="multipart/form-data" method="POST">
            <input type="hidden" id="blog_id" value="{{ blogForm.instance.id }}">
            {{ moduleFormSet.management_form }}
            {{ moduleFormSet.errors }}
            {{ moduleFormSet.moduleMap }}
            <div class="hide" id="moduleForms">
                <div id="{{ moduleFormSet.prefix }}-empty_form">
                    {{ moduleFormSet.empty_form }}
                </div>
                {% for form in moduleFormSet.forms %}
                    <div {% if not form.DELETE.value %} id="modules-{{ form.position.value }}" {% endif %}
                            class="_{{ moduleFormSet.prefix }}">
                        {{ form }}
                    </div>
                {% endfor %}
            </div>
            {{ blogForm.logo }}
            <div class="buttonPane">
                <span><a href="{% url blog.views.manage %}">{{"<< Back"|escape}}</a></span>
                <span>
                <a href="#" onclick="BlogForm.submit('#blogData');" class="btn">
                    {% if blogForm.instance.id %}
                        {% trans 'Save' %}
                    {% else %}
                        {% trans 'Create' %}
                    {% endif %}
                </a>
                </span>

                {% if blogForm.instance.id %}
                    <span>
                        <a href="{% url blog.views.view  blogForm.instance.id '' %}" target="_blank" class="btn">View Blog</a>
                    </span>
                {% endif %}

                <div style="float:right; ">
                    Blog Style |
                    {% field blogForm.style 'class=input-small' %}
                </div>
            </div>
        {% endif %}
{% endblock %}

{% block blogNameHeader %}
    {% if accessLevel >= accessLevels.ADMIN %}
        <div class="blogNameHeader">
            {% field blogForm.name 'title=Blog Name' 'class=blogNameHeader wideinput'%}
        </div>
        <div class="errors">
            {{ blogForm.name.errors }}
        </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block blogModule_2 %}
    <div style="min-height: 70px">
        {% include "blog_module/configure.html" with style=style position=2 moduleFormSet=moduleFormSet %}
    </div>
{% endblock %}

{% block blogModule_1 %}
    {% include "blog_module/configure.html" with style=style position=1 moduleFormSet=moduleFormSet %}

{% endblock %}

{% block blogDescription %}
    {% if accessLevel >= accessLevels.ADMIN %}
        <div style="line-height: 60px;">
            {% field blogForm.description 'title=Add short description of your blog' 'class=blogDescription'%}
        </div>
        <div class="errors">
            {{ blogForm.description.errors }}
        </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}


{% block blogFacilities %}
    {% if accessLevel >= accessLevels.ADMIN %}
        <div class="formField">
            <div class="fieldLabel">{% trans 'Facilities' %}:</div>
            <div class="fieldInput">
                {{ blogForm.facilities }}
            </div>
            <div class="fieldRight">
                <button id="addNewBlogType" class="btn btn-small" type="button">Suggest new facility</button>
            </div>
            <div class="fieldError errors">
                {{ blogForm.facilities.errors }}
            </div>
        </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block blogAddress %}
    {% if adrFormSet %}
        <div class="addressesHeader">
            <a href="#" id="showMap">
                Map</a>
        </div>
        <div class="addresses" id="addresses">
            {% for form in adrFormSet %}
                <div id="{{ forloop.counter }}" class="addressForm">
                    {% include 'event/includes/event_address.html' with address=form %}
                </div>
            {% endfor %}
            {{ adrFormSet.management_form }}
            <!--div class="button"><a href="#">Add More</a></div-->
            <!--div id="paginator"></div-->
        </div>
        <div id="googleMap" style="width: 100%; height: 200px; border: 1px #e6e6fa solid; display:none;">
        </div>
    {% endif %}
{% endblock %}

{% block blogNewsSection %}
{% endblock %}



{% block formEnd %}
    {% if blogForm and accessLevel >= accessLevels.ADMIN %}
        </form>
    {% endif %}
{% endblock %}