
#submitButton
{
    float: left;
}

#createBlogBox
{
    margin: auto;
    width: 100%;
}
#createHelp
{
    padding-left: 20%;
    padding-top: 15px;
    margin-bottom: 20px;
}

#createBlogBox label
{
    margin-right: 20px;
}

#createContent
{
    float:left;
    width: 100%;
}

#buttonPane
{
    float:left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: solid #e6e6fa 1px;
    background-color: #ffffe0;
}
#buttonPane .button
{
    
}

#buttonPane a
{
    margin-left: 10px;
}



#blogPageBlocks
{
    display: none;
}

#uploadDialog
{
    width: 400px;
    height: 200px;
    text-align: center;
}
#uploadDialog iframe
{
    border: none;
}
.blogInput
{
    
}
.blogButton
{
    float:left;
    width: 100%;
}