
#submitButton
{
    float: left;
}

#createBlogBox
{
    margin: auto;
    width: 100%;
}
#createHelp
{
    padding-left: 20%;
    padding-top: 15px;
    margin-bottom: 20px;
}

#createBlogBox label
{
    margin-right: 20px;
}

#createContent
{
    float:left;
    width: 100%;
}



#blogPageBlocks
{
    display: none;
}



.blogInput
{
    
}
.blogButton
{
    float:left;
    width: 100%;
}