.friendList
{
    margin-left: 50px;
}

.friendEntry
{
    margin-top: 10px;
    background-color: #fcfcfc;
    padding: 5px;
}

.friendThumb
{
    float: left;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    display: block;
}
.friendThumb img
{
    height: 100px;
    width: 100px;
    max-width: 100px;
    max-height: 100px;
    position: relative;
}

.friendInfo
{
    float: left;
}
.friendActions
{
    float: right;
    margin-right: 10px;
    border-left: 1px #778899 solid;
    height: 100px;
    padding-left: 2px;
}