
#editProfileTable
{

}
#editProfileTable td
{
    vertical-align: top;
}

#editAvatar
{
    float:left;
    margin-right: 10px;
}
#editAvatar avatarImage
{
    max-width: 256px;
    max-height: 200px;
    margin:  3px;
}

#editAccountBox
{
}

#submitButton
{
    float: left;
    clear: both;
}