
.event_group_container
{
  margin-left: 20px;
}

.event_group
{
  height: 150px;
  padding: 5px;
  border: #ebebeb solid 1px;
  margin-bottom: 8px;
  font-size: 22px;
  font-family: Segoe UI, sans-serif;
  color: white;
  background-color: rgb(75, 27, 75);
}