
.event_group_container
{
  margin-left: 20px;
}

.event_group
{
  .caption
  {
    font-size: 22px;
    font-family: Segoe UI, sans-serif;
    cursor: pointer;
    margin-bottom: 5px;
  }
  .event_sub_tile
  {
  }
  .popular_events
  {
    padding-right: 11px;
  }
  height: 150px;
  padding: 5px;
  border: #ebebeb solid 1px;
  margin-bottom: 8px;
  color: white;
  background-color: rgb(39, 27, 75);
  overflow-x: hidden;
  cursor: pointer;
}