{% extends 'account/accounts.html' %}
{% load i18n %}
{% load static %}
{% load field_renderer %}

{% block includes %}
   {{ block.super }}
   <link href="{{ STATIC_PREFIX }}css/accounts_edit.css" rel="stylesheet" type="text/css">
   <script src="{{ STATIC_PREFIX }}js/accounts.js" type="text/javascript"></script>
   {{ editForm.media }}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        Accounts.init();
    </script>
{% endblock %}

{% block content %}
    <div id="editAccountBox">
        <form  enctype="multipart/form-data" action="{% url account.views.edit %}" method="POST" class="form-horizontal">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="restHeader">
                        <div class="headerName"><h1>{% trans "Profile" %}</h1></div>
                    </div>
                </div>
                <div class="row-empty">
                </div>
                <div class="row-fluid">
                    <div class="span3">
                        <div id="editAvatar" class="thumbnail">
                            {% if editForm %}
                                {% field  editForm.avatar "render=preview"  %}
                            {% endif %}
                        </div>
                        <div>
                            {{ editForm.avatar }}
                            {% field editForm.avatar "render=upload" %}
                        </div>
                    </div>
                    <div class="span7">
                        <div id="editGeneralInfo">
                            {{ editForm.as_p  }}
                        </div>
                    </div>
                </div>
                <div class="row-empty">
                </div>
                <div class="row-fluid">
                    <button type="submit" class="btn" id="submitButton">Edit</button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}

