{% extends 'event/events.html' %}
{% load i18n %}
{% load field_renderer %}


{% block includes %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}common/css/forms.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/event_create.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/event.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/event_create.js"></script>
    <link href="{{ STATIC_URL }}address/css/address.less" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ STATIC_URL }}address/address.js"></script>
    {% include "jquery.multiselect.html" %}
    {% include "jquery.timeentry.html" %}
    {{ eventForm.media }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        CreateEvent.init();
        $(function()
        {
            $(".eventSchedule").ajaxSimpleForm("init",{
                "prefix": "{{ eventSchedules.prefix }}",
                "emptyFormId": "{{ eventSchedules.prefix }}-__prefix__",
                "onInitForm": function(form){ CreateEvent.initSchedule(form); }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="createEventContainer">
        <form id="eventDataForm"
              {%  if eventForm.instance.pk %}
                action="{% url event.views.credit eventForm.instance.pk %}"
              {% else %}
                action="{% url event.views.credit %}"
              {% endif %}
              method="POST"
              enctype="multipart/form-data"
              class="form-horizontal">
            <div class="publishedBlog" id="publishedBlog">
            </div>
            <div class="buttonPane">
                <a href="#" onclick="CreateEvent.submitForm('#eventDataForm');return false;">Submit</a>
            </div>
            <div>

            </div>
        {{ eventForm.id }}
        <div class="row-fluid" id="eventDataTable" >
            <div class="row-fluid">
                <div class="span12">
                    <div class="divButton eventName {% if eventForm.name.errors %}errorHighlight{% endif %}">
                        {% field eventForm.name 'title=Event Name' 'class=wideinput' %}
                    </div>
                    <div class="errors">
                        {{ eventForm.name.errors }}
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <div class="eventLogoBox">
                        <div class='divButton eventLogo'>
                            {% field eventForm.logo "render=preview" %}
                            {{ eventForm.logo }}
                        </div>
                        <div class='eventLogoUpload'>
                            {% field eventForm.logo "render=upload" %}
                        </div>
                    </div>
                
                    <div class="eventOrganizers">
                        <div class="sectionHeader">Organizers: </div>
                        <div class="eventOrganizerSelection">
                            <div class="organizerSelection">
                                {{ eventForm.organizers }}
                            </div>
                            <div class="errors">
                                {{ eventForm.organizers.errors }}
                            </div>
                        </div>
                        <div class="chosenOrganizers" id="chosenOrganizers">
                        </div>
                    </div>
                    <div class="eventModules">

                    </div>
                </div>
                <div class="span8">
                    <div class="divButton eventDescr">
                        {% field eventForm.descr 'title=Event Description' 'class=eventDescr' %}
                        <div class="errors">
                            {{ eventForm.descr.errors }}
                        </div>
                    </div>
                    <div class="row-fluid" style="vertical-align: top;">

                        <div class="span12">
                            <div class="eventActivities">
                                <div class="formField">
                                    <div class="fieldLabel">{% trans 'Event Activities' %}:</div>
                                    <div class="fieldInput">
                                        {{ eventForm.activities }}
                                    </div>
                                    <div class="fieldRight">
                                        <a href="#" id="addNewEventType">{% trans "Suggest New" %}</a>
                                    </div>
                                    <div class="fieldError errors">
                                        {{ eventForm.activities.errors }}
                                    </div>
                                </div>
                            </div>
                            {{ eventForm.errors }}
                        </div>

                        <div class="row-fluid">
                            <div class="span12">
                                <input type="hidden" value="{% url blog.views.getBlogAddress %}" id="getBlogAddressURL">
                                <input type="hidden" value="{% url common.views.getAddress %}" id="getAddressURL">
                                <input type="hidden" value="{% url common.views.getCities %}" id="getCityURL">
                                <div class="row-fluid sectionHeader sectionHeaderHighlight">
                                    <div class="span9">
                                        Event Schedules:
                                    </div>
                                    <div class="span3">
                                        <div class="btn btn-primary addScheduleButton"
                                             onclick='CreateEvent.addSchedule("{{ eventSchedules.prefix }}","#eventSchedules");' >
                                            Add Schedule
                                        </div>
                                    </div>
                                </div>

                                {{ eventSchedules.management_form }}
                                <div class="hidden">
                                    {% include 'event/includes/event_schedule.html' with schForm=eventSchedules.empty_form %}
                                    <div id="blogAddressTemplate">
                                        {% include "event/includes/event_address.html" with address=None %}
                                    </div>
                                </div>
                                <div class="eventSchedules" id="eventSchedules">
                                    {% for schForm in eventSchedules reversed %}
                                        {% include 'event/includes/event_schedule.html' with id=forloop.revcounter0 %}
                                    {% endfor %}
                                    {% for dict in eventSchedules.errors %}
                                        {{ dict }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>
        </form>
    </div>
{% endblock %}