{% extends 'blog/blogs_baseDesign.html' %}
{% load field_renderer %}

{% block includes %}
   {{ block.super }}
   <link href="{{ STATIC_URL }}blogs_default/css/blogs.css" rel="stylesheet" type="text/css">
   {% include "jquery.multiselect.html" %}
   {# include modules css #}
{% endblock %}


{% block leftLogo %}
    <div class="blog_leftLogo">
        <div id="generalLogo">
            <div id="logoWrapper">
                {% block logoSrc %}
                    {% include "blog/default/includes/logo.html" %}
                {% endblock %}
            </div>
            <div class='logoBottom'>
                {% block logoBottom %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block blogMenu %}
    {% for item in menu %}
        {% if item.enabled and item.show %}
            <div class="sideMenuItem {% if item.selected %} selected {% endif %}">
                <a href="{{ item.url }}">{{ item.label }}</a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}



{% block blogContent %}
<div id="createBlogBox">
        <div id="managePane">

        </div>
        {# Hidden content #}
        <div id="blogPageBlocks">
            {% block hiddenContent %}
            {% endblock %}
        </div>

        <div id="blogContent" class="span12">
                    <div class="row-fluid">
                            <div class="blogSection" >
                                {% block blogNameHeader%}

                                {% endblock %}
                            </div>
                            {% block blogModule_2 %}
                            {% endblock %}
                    </div>
                    <div class="row-fluid" style="margin-top: 10px;">
                        <div class="span4">
                            <div class="generalInfoLeftColumn">
                                <div class="blogSection" >
                                    {% block blogAddress %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                        <!--div class="vertical-light-divider float-left" style="height: 80px">
                        </div-->
                        <div class="span8">
                            <div class="blogInfoContent">
                                    <div class="blogSection"  >
                                        {% block blogDescription %}
                                        
                                        {% endblock %}
                                    </div>
                                    <!--div class="blogInfoDivider"></div-->
                                    <div id="blogFacilities">
                                                {% block blogFacilities %}

                                                {% endblock %}
                                     </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                    </div>
                    <div class="row-fluid" style="margin-top: 10px;">
                        <div class="blogSection">
                        {% block blogModule_1 %}

                        {% endblock %}
                        </div>
                    </div>
        </div>
                {% block formEnd %}
                
                {% endblock %}
</div>
{% endblock blogContent %}