{% load i18n %}
{% load static %}
<div class="friendEntry">
    <div class="friendThumb">
        {# TODO avatar thumbnail #}
        <img src="{{ friend.get_profile.avatar.url }}">
    </div>
    <div class="friendInfo">
        {{ friend.first_name }}
        {{ friend.last_name }}
    </div>
    <div class="friendActions">
        <ul>
            <li><a href="#">Invite</a></li>
            <li><a href="#">Send Message</a></li>
            <!--li><a href="#">Stub</a></li>
            <li><a href="#">Stub</a></li-->
        </ul>
    </div>
    <div style="clear: both;"></div>
</div>
