{% extends 'common/base_common.html' %}
{% load i18n %}
{% load static %}

{% block includes %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}common/less/manage.less" rel="stylesheet/less" type="text/css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/messaging_core.js"></script>
{% endblock %}


{% block content %}
    <div class="restHeader">
        <div class="headerName"><h1>{% trans "Messages" %}</h1></div>
        <div class="subMenu">
            <ul>
                <li>
                    <a href="#" action-data="{% url messaging.views.sendMessageTo %}"
                       id="createMessageButton">Create</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        {% for message in messages %}
            <div class="row-fluid">
                <div class="row-fluid"><strong>{{ message.author }}</strong></div>
                <div class="row-fluid">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}