{% extends 'blog/default/design.html' %}
{% load i18n %}
{% load field_renderer %}

{% block includes %}
   {{ block.super }}
   <script src="{{ STATIC_URL }}address/address.js" type="text/javascript"></script>
   <link href="{{ STATIC_URL }}css/blogs_address.css" rel="stylesheet" type="text/css">
   {% include 'includes/pagination.inc' %}
   {% include 'includes/googlemaps.inc' %}
{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
    </script>
{% endblock %}

{% block blogNameHeader %}
    <div class="blogNameHeader">
        <div class='blogNameHeader'>{{ blog.name }}</div>
    </div>
{% endblock %}

{% block blogHeaderImages %}
    <!--div class="divButton" onclick="" style="line-height: 60px;">
        <h3>Add here few images</h3>
    </div-->
{% endblock %}

{% block blogModule_1 %}
    {% for address in blog.addresses.all %}
        {% include "common_address.html" %}
    {% endfor %}
{% endblock %}

{% block blogDescription %}
    <div class="blogDescription" >
        <p>
            {{ blog.description|escape|linebreaksbr }}
        </p>
    </div>
{% endblock %}


{% block blogFacilities %}

    {% for type in blog.facilities.all %}
        <span class="label label-info">
            {{ type.name }}
        </span>
    {% endfor %}
{% endblock %}


{% block blogNews %}
    <div id="blogNews">
        News Here
    </div>
{% endblock %}