{% load i18n %}
<!-- Party window -->
<div class="partyWindow" id="partyWindow-{{ eventSchedule.id }}">
    <input value="{% url 'party.views.invitationList' eventSchedule.pk %}" id="invitationURL" type="hidden">
    <form action="{% url 'event.views.unGo' eventSchId=eventSchedule.pk %}" method="POST" id="unGoForm" class="hidden"></form>
    <div class="partyWindowControls hidden" id="topNub">
        <div class="nub flipv-background"></div>
    </div>
    <div class="partyWindowContent shadow-box">
        <div class="partySubTitle">
            <span>{% trans "Party Suggestions" %}</span>
            <div class="partyCloseButton">
                <a href="#" class="noBorder ui-widget-header ui-dialog-titlebar-close ui-corner-all" role="button">
                    <span class="ui-icon ui-icon-closethick">close</span>
                </a>
            </div>
        </div>
        <div class="partySuggestions">
            <!--div class="partySubTitle">Top 5 party suggestions</div-->
            <div class="partySuggestionContainer">
                <ul class="thumbnails">
                    {% for i in 012345|make_list %}
                        <li class="thumbnail" style="height: 70px; width: 65px;">
                            <a href="#" >
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="partyCreateSlogan">
            <div class="partySubTitle" id="partyStatus" >
                <div class="createPartyButton float-left">
                    <a href="#" class="ifNotGo" id="createPartyButton">{% trans "Go with Own Party!" %}</a>
                    <div class="hidden ifGoes" id="partyCreatedMessage">{% trans " " %}</div>
                </div>
                <div class="editPartyButton float-left hidden ifGoes">
                    <a href="#" class="partyInviteButton">{% trans "Invite people!" %}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="partyWindowControls" id="bottomNub">
        <div class="nub"></div>
    </div>
    <div class="hidden">
        <form action="{% url 'event.views.go' eventSchId=eventSchedule.pk %}" method="POST" id="createSimpleParty" class="hidden">
        </form>
    </div>
</div>