
{% load i18n %}
<!-- Party create window -->
<div class="createPartyWindow modal hide" id="createPartyWindow" role="dialog" style="width: 530px"
     xmlns="http://www.w3.org/1999/html">
    <form>
        <div class="modal-header">

        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span12">
                    <img src="https://lh4.googleusercontent.com/_tcY7QLx6X_8/ULbGzO6JdqI/AAAAAAAABs4/kJyI9tR_H7Q/s498/01_christmas_r.gif"
                         style="opacity: 1; height: 148px; width: 498px;">
                </div>
            </div>
            <div class="row-empty"></div>
            <div class="row-fluid">
                <div class="span12">
                    <input type="text" class="input-xlarge" placeholder="Party Name" style="width: 485px">
                </div>
            </div>
            <div class="row-fluid">
                <div class="controls-row">
                    <input type="text" class="input-large" placeholder="Date" style="">
                    <input type="text" class="input-small" placeholder="Time">
                </div>
            </div>
            <div class="row-fluid">
                <div class="controls-row">
                    <input type="text" class="input-large" placeholder="Place" style="width: 485px">
                </div>
            </div>
            <div class="row-fluid">
                <div class="controls-row">
                    <input type="button" class="btn btn-primary" value="+">
                    <input type="text" class="input-large" placeholder="Friends" style="width: 443px">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary">Create</a>
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </form>
</div>