{% load static %}
{% load i18n %}

<!-- Party invitation popup -->
<div class="modal" id="partyInvitePopup" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>{% trans "Invite Friends" %}</h3>
    </div>
    <div class="modal-body container-fluid">
        <div class="row-fluid">
            <div class="flist-column span6">
                <div class="row-fluid">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-search"></i></span>
                        <input class="span10" id="searchFriendInput" size="16" type="text" placeholder="{% trans "Search" %}">
                    </div>
                </div>
                <div class="flist-item-container" id="invitation-list">
                    <div class="friend-list-loading hidden">
                        <div class="progress progress-info progress-striped active">
                            <div class="bar" style="width: 100%;"></div>
                        </div>
                    </div>
                    {% for friend in friendships %}
                        {% if friend not in invited %}
                            {% include "party_invite_friend_item.html" %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="flist-column">
                <div class="flist-item-container" id="invited-list">
                </div>
            </div>
        </div>
        {% if invited %}
        <div class="row-fluid">
            {% trans "Already invited" %}:
            <div class="invited-member-list">
                <table cellpadding="0" cellspacing="0">
                    <tr class="horizontal-photos">
                    {% for friend in invited %}
                        <td class="horizontal-photo">
                            <a href="#" class="thumbnail" rel="tooltip" title="{{ friend.first_name }} {{ friend.last_name }}">
                                {% if friend.avatar %}
                                    <img src="{{ friend.avatar.url }}">
                                {% else %}
                                    <img src="{{ STATIC_URL }}common/images/logoStub.png">
                                {% endif %}
                            </a>
                        </td>
                    {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
        {% endif %}
        <div class="clear"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary span2" autocomplete="off"
                data-complete-text="{% trans "Invited" %}"
                data-loading-text="{% trans "Inviting..." %}"
                id="inviteButton">
            {% trans "Invite" %}
        </button>
        <a href="#" class="btn span2" data-dismiss="modal" autocomplete="off">
            {% trans "Close" %}
        </a>
    </div>
</div>