{% extends 'accounts/accounts.html' %}

{% block includes %}
   {{ block.super }}
   <link href="{{ STATIC_PREFIX }}css/accounts_edit.css" rel="stylesheet" type="text/css">
   <script src="{{ STATIC_PREFIX }}js/accounts.js" type="text/javascript"></script>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        Accounts.init();
    </script>
{% endblock %}

{% block content %}
    <div id="editAccountBox">
        <form  enctype="multipart/form-data" action="{% url accounts.views.edit %}" method="POST">

        <table id="editProfileTable">
            <tr >
            <td style="width: 200px;">
                <div id="editAvatar">
                    <img id="avatarImage" src="{{ user.get_profile.avatar }}" />
                    {{ editForm.avatar }}
                </div>
            </td>
            <td style="width: 100%;">
                <div id="editGeneralInfo">
                    <div class="formField">
                        <div class="fieldLabel">{{ editForm.first_name.label }}</div>
                        <div class="fieldInput">{{ editForm.first_name }}</div>
                        <div class="fieldError">
                            {{ editForm.first_name.errors }}
                        </div>
                     </div>
                    <div class="formField">
                        <div class="fieldLabel">{{ editForm.last_name.label }}</div>
                        <div class="fieldInput">{{ editForm.last_name }}</div>
                        <div class="fieldError">
                            {{ editForm.last_name.errors }}
                        </div>
                     </div>
                    <div class="formField">
                        <div class="fieldLabel">{{ editForm.publisher }}</div>
                        <div class="fieldInput">{{ editForm.publisher.label }}</div>
                        <div class="fieldError">
                            {{ editForm.publisher.errors }}
                        </div>
                     </div>
                    <div class="formField">
                        <div class="fieldLabel">{{ editForm.publisherRequestText.label }}</div>
                        <div class="fieldInput">{{ editForm.publisherRequestText }}</div>
                        <div class="fieldError">
                            {{ editForm.publisherRequestText.errors }}
                        </div>
                     </div>
                </div>
            </td>
            </tr>
        </table>
            <button type="submit" id="submitButton">Edit</button>
        </form>
    </div>
{% endblock %}

