{% extends 'organization/organization.html' %}
{% load i18n %}
{% load field_renderer %}


{% block includes %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/organization.js"></script>
    <link href="{{ STATIC_URL }}css/organization_page.css" rel="stylesheet" type="text/css">
    {% if orgForm %}
        <link href="{{ STATIC_URL }}common/css/forms.css" rel="stylesheet" type="text/css">
        {% include 'jquery.multiselect.html' %}
        <script type="text/javascript" src="{{ STATIC_URL }}address/address.js"></script>
        {{ orgForm.media }}
    {% endif %}

{% endblock %}

{% block hiddenContent %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        OrganizationCreate.init();
        Address.init('#address','{% url 'common.views.getCities' %}','');
    </script>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="form-actions-top">
            <button type="button" onclick="Common.submitForm('#orgForm');" class="btn">Submit</button>
        </div>
    </div>
    <form
            id='orgForm'
            {% if orgForm.instance.pk %}
                action="{% url 'organization.views.credit' orgForm.instance.pk %}"
            {% else %}
                action="{% url 'organization.views.credit' %}"
            {% endif %}
            method="POST"
            enctype="multipart/form-data"

            >
        <div class="span12">
            <div class="row-fluid">
                <div class="span12">
                    <div class="divButton orgName">
                        {% field  orgForm.name 'title=Organization name' 'class=wideinput' %}
                    </div>
                    <!--div class='subMenu'>
                        <ul>
                            <li><a href="#" class="manageButton">General</a></li>
                            <li><a href="#" class="manageButton">Find Page</a></li>
                            <li><a href="#" class="manageButton">Register Organizer</a></li>
                        </ul>
                    </div-->
                </div>
            </div>
            <div class="row-fluid">
                <div class="span5">
                    <div class="logo">
                        {% field orgForm.logo %}
                        <div>
                            {% field orgForm.logo "render=preview" %}
                        </div>
                    </div>
                    <div class="errors">
                        {{ orgForm.logo.errors }}
                    </div>
                    <div class="logoControl">
                        {% field orgForm.logo "render=upload"%}
                    </div>
                </div>
                <div class="span7">
                    <div class="row-fluid">
                        <div class="address" id="address">
                            {% include 'common_address.html' with address=adrForm %}
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span5">
                            <label>Business Code</label>
                            {% field  orgForm.businessCode "class=input-medium" %}
                        </div>
                        <div class="span7">
                            <label>Phone</label>
                            {{ orgForm.phone }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="divButton orgDescr">
                        {% field orgForm.description 'title=Description' %}
                    </div>
                </div>
            </div>
        </div>
    </form>

    {{ orgForm.errors }}
    {{ adrForm.errors }}
{% endblock %}


