

/* Party */
.partyTitle
{
    padding-left: 10px;
    padding-top: 4px;
    font-size: 15px;
    margin-bottom: 14px;
}
.partySubTitle
{
    background-color: rgb(59, 89, 152);
    color: white;
    font-weight: 700;
    min-height: 30px;
    margin-bottom: 7px;
    padding-left: 13px;
    line-height: 30px;
    position: relative;
}
.partyCreated
{
    background-color: #0d8f00;
}
.partySubTitle a
{
    color: white;
    text-decoration: none;
}
.partySubTitle
{
    padding-right: 5px;
}
.partySubTitle a:hover
{
    text-decoration: underline;
}

.partyCreateSlogan
{
    margin-bottom: 12px;
}

.partyWindow
{
    position: absolute;
    padding: .2em;
    overflow: hidden;
    display: none;
}

.partyWindowContent
{
    border: solid #778899 1px;
    background-color: white;
    overflow: hidden;
    height: 100%;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

/* party suggestions */
.partySuggestions
{
    display: block;
}

.partySuggestionContainer
{
    min-height: 100px;
    text-align: center;
}
.partySuggestionContainer ul
{
    display: inline-block;
    padding: 0;
    margin: 0;
}
.partySuggestionContainer li
{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-left: 5px;
    margin-right: 5px;
}

.createPartyButton a
{
    width: 100%;
}

.partySuggestion
{
    
}

.partyCloseButton
{
    position: absolute;
    right: .3em;
    top: 50%;
    width: 19px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 18px;
}
.partyWindowControls
{
}
.partyWindowControls .nub
{
    background-image: url('/static/common/images/nub.gif');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    min-height: 5px;
}


/* Event */
.eventOrganizers
{
    border-top: solid #e6e6fa 1px;
    margin-top: 10px;
}

.sectionHeader
{
    font-size: 15px;
    padding: 5px;
    margin-top: 5px;
}

.sectionHeader:hover
{
    cursor: default;
}

.sectionHeaderHighlight
{
    background-color: #fffacd;
}

.eventName
{
    padding-top: 2px;
    padding-bottom: 2px;
}
.eventName h2
{
    word-wrap: break-word;
}

.eventDescr
{
    font-family: arial;
    font-size: 15px;
}
.eventActivities
{
    
}
.eventLocations
{

}



/* //////////////////////////////// */

.blogSelection select
{
    width: 100%;
}

.customAddress
{
    
}

.address
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.address input
{
    width: 100%;
}

.address select
{
    width: 100%;
}

.address .addressHeader
{
    width: 100%;
    float: left;
    border-bottom: solid #e6e6fa 1px;
}
.addressHeader .adr_name
{
    float: left;
}
.addressHeader .deleteAddressButton
{
    float: right;
}


.eventLogo img
{
    height: 178px;
}

.eventLogo
{
    width: 237px;
    height: 178px;
}

.eventLogoBox
{
    margin-bottom: 15px;
}

.briefEventDescr
{
    
}
.briefLogoBox
{
    float:left;
    border: 1px #e6e6fa solid;
    margin-right: 20px;
    margin-left: 20px;
}
.briefEventLogo
{
    width: 128px;
    height: 128px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}
.briefEventLogo img
{
    max-width: 128px;
    max-height: 128px;
    vertical-align: middle;
    display: block;
}
.eventButtons
{
    width: 100%;
    position: relative;
}
.eventButton
{
    background-color: #fffcff;
    float: right;
    min-width: 100px;
    text-align: center;
    border: 1px #e6e6fa solid;
    border-top: none;
    margin-left: -1px;
}
.eventButton a
{
    line-height: 25px;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.eventButton a:hover
{
    background-color: #e6e6fa;
}

.eventDates
{
    /*border-bottom: solid #79B7E7 1px;*/
    float:left;
    width: 100%;
}

.addScheduleButton
{
    border: 1px #e6e6fa dashed;
}

.eventSchedules
{
    margin-top: 20px;
}

.eventSchedule
{
    
}

.event-data
{
    border-bottom: solid #e6e6fa 1px;
    background-color: #fffcff;
    float: left;
    width: 100%;
}
.event-container
{
    border-top: solid #e6e6fa 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}
.event-container .summary
{
    float: left;
    margin-bottom: 10px;
}

.event-container h2
{
    padding-left: 10px;
}

.date-icon {
    width: 40px; height: 38px;
    background: #fcfcfc;
    background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);
    background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);
    border: 1px solid #d2d2d2;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
    cursor: default;
}

.date-icon p {
    font-family: Helvetica, sans-serif;
    font-size: 12px; text-align: center; color: #2a2a2a;
    padding-top: 0;
    font-weight: bold;
    margin-bottom: 0;
    cursor: default;
}

.date-icon p span
{
    background: rgb(0, 185, 209);
    background: linear-gradient(top, rgb(0, 185, 209) 0%, rgb(6, 102, 122) 100%);
    background: -moz-linear-gradient(top, rgb(0, 185, 209) 0%, rgb(6, 102, 122) 100%);
    background: -webkit-linear-gradient(top, rgb(0, 185, 209) 0%, rgb(6, 102, 122) 100%);
    font-size: 11px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    display: block;
    border-top: 1px solid rgb(109, 129, 161);
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    padding: 2px 0 0 0;
    height: 15px;
    line-height: 10px;
    cursor: default;
}

/* Event Fast Search */

.advancedSearch
{
    margin-left: 3px;
}


.fastsearch
{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 9px;
    margin-left: 5px;
}

.fastsearch input
{
    height: 30px;
    font-size: 20px;
    box-shadow: 0 3px 15px rgba(111, 108, 108, 0.2);
    -moz-box-shadow: 0 3px 15px rgba(111, 108, 108, 0.2);
    -webkit-box-shadow: 0 3px 15px rgba(111, 108, 108, 0.2);
    padding-right: 0;
    width: 100%;
    margin-bottom: 0;
    background: rgb(247, 247, 247) url(../search/searchfield.sign.png) no-repeat 98% center;
}
.chosenSearchCriteria
{
    padding-top: 7px;
}