
.eventBox
{
    min-height: 20px;
    padding: 4px;
    margin-bottom: 5px;
}

.eventBox:hover
{

}

.eventsList
{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 350px;
    width: 100%;
}
.eventEntryRow
{
    margin-bottom: 4px;
    border: 1px solid #e6e6fa;
    height: 100px;
}

.eventEntryRow:hover
{
    background-color: #e6e6fa;
}

.eventThumb
{
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    height: 90px;
    max-width: 100px;
}

.eventThumb img
{
    vertical-align: middle;
    display: block;
}

.eventThumbColumn
{
    width: 100px;
    height: 100%;
    float: left;
    margin-right: 10px;
}

.eventInfoColumn
{
    float:left;
}