
.organizerSelection
{
    width: 95%;
    padding-left: 2%;
}

.organizerSelection select
{
    width: 100%;
}

.createEventContainer
{
    width: 100%;
}

.eventName
{
    line-height: 30px;
}

.eventName input
{
    width: 97%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
}

.eventDate
{
    float:left;
}
.eventTime
{
    width: 40px;
}
.eventAddresses
{
    margin-top: 15px;
}
.eventDescr textarea
{
    width: 97%;
}

.eventDescr .errorlist
{
    margin: 0;
}

#eventDataTable
{
    vertical-align: top;
    width: 100%;
}

#eventDataTable td
{
    vertical-align: top;
}