{% load static %}
{% load i18n %}
{% load field_renderer %}

<div id="sendMessagePopup" class="modal">
    <form method="POST" id="sendMessageForm" action="{% url messaging.views.sendMessageTo %}">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <div class="float-left">
                <h3>Message to</h3>
            </div>
                <div class="control-group span4 float-left">
                    {% if friend %}
                        {{ friend }}
                    {% else %}
                        {% field msgForm.to "class=span3" "data-placeholder=Choose friend" %}
                    {% endif %}
                </div>
            <div class="clear"></div>
        </div>
        <div class="modal-body">
                <div class="row-fluid">
                    <div class="control-group">
                        <label class="control-label">{% trans "Header" %}</label>
                        <div class="controls">
                            {% field msgForm.subject "class=span11" "placeholder=Subject" %}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">{% trans "Message" %}</label>
                        <div class="controls">
                            {% field msgForm.text "class=span11" %}
                        </div>
                    </div>
                </div>
        </div>
    </form>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">{% trans "Close" %}</button>
        <button class="btn btn-primary" id="sendMessageButton"
           data-loading-text="Sending..."
           data-complete-text="Sent!">
            {% trans "Send" %}
        </button>
    </div>

</div>