{% extends 'blogs/blogs.html' %}
{% load i18n %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block includes %}
   {{ block.super }}
   <link href="{{ STATIC_PREFIX }}css/blogs_manage.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class='managementHeader'>
        <h1>{% trans 'Rest Management' %}</h1>
        <div class='subMenu'>
            <ul>
                <li><a href="{% url blogs.views.create %}" class="manageButton">Create Page</a></li>
                <li><a href="{% url blogs.views.create %}" class="manageButton">Find Page</a></li>
                {#TODO move to sep. template register/add an organizer #}
                <li><a href="{% url blogs.views.create %}" class="manageButton">Register Organizer</a></li>
            </ul>
        </div>
    </div>
    <!--div class='blogsHeader'><span style="padding-left: 55px;">Your Pages:</span></div-->
    <div id="blogs_container">
        <!--div class="blog">
            <a href="{% url blogs.views.create %}" class="manageButton">+Blog</a>
        </div-->
        {% for blog in myBlogs %}
            <div class="blog">
                <a href="{% url blogs.views.edit blog.id None%}" class="manageButton">{{ blog.name }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}