<div class="event-container" id="event_{{ event.id }}">
    <h2>{{ event.name }}</h2>
    <div class="summary">
        <div class="briefLogoBox">
            <div class="briefEventLogo">
                {% if event.logo %}
                    <img src="{{ event.logo.url }}"/>
                {% endif %}
            </div>
        </div>
        <p>
            {{ event.descr|truncatewords_html:200|safe }}
        </p>
    </div>
    <div class="likes-block">
        <a href="?hash=event_{{ event.id }}" class="like l-fb">
            <i class="l-ico"></i>
            <span class="l-count"></span>
        </a>
        <a href="?hash=event_{{ event.id }}" class="like l-vk">
            <i class="l-ico"></i>
            <span class="l-count"></span>
        </a>
        <a href="?hash=event_{{ event.id }}" class="like l-tw">
            <i class="l-ico"></i>
            <span class="l-count"></span>
        </a>
    </div>
</div>