
<div class="addressHeader">
    <div class="adr_name">{{ address.name }}</div>
    <button class="deleteAddressButton" onclick="return false;"></button>
</div>
<input type="hidden" name="belongsTo">
<input type="hidden" name="adrId" value="{{ address.id }}">
<div class="adr_country">{{ address.country }}</div>
<div class="adr_cityArea">{{ address.cityArea }}</div>
<div class="adr_city">{{ address.city }}</div>
<div class="adr_county">{{ address.county }}</div>
<div class="adr_street">{{ address.street }}</div>
<div class="adr_postalCode">{{ address.postalCode }}</div>