
<div class="addressHeader">
    <div class="adr_name">{{ address.name }}</div>
    <button class="deleteAddressButton" onclick="return false;"></button>
</div>
<input type="hidden" name="belongsTo">
{% if address.instance.id %}
    <input id="adr_id" type="hidden" name="adr_id" value="{{ address.instance.id }}">
{% else %}{# if not form #}
    {% if address.pk %} {# if object has id #}
        <input id="adr_id" type="hidden" name="adr_id" value="{{ address.pk }}">
    {% else %} {# if not object #}
        <input id="adr_id" type="hidden" name="adr_id" value="">
    {% endif %}
{% endif %}

<div class="adr_country">{{ address.country }}{{ address.country.errors }}</div>
<div class="adr_city">{{ address.city }}{{ address.city.errors }}</div>
<div class="adr_cityArea">{{ address.cityArea }}{{ address.cityArea.errors }}</div>
<div class="adr_street">{{ address.street }}{{ address.street.errors }}</div>
<div class="adr_postalCode">{{ address.postalCode }}{{ address.postalCode.errors }}</div>