{% load i18n %}
<div class="event-container" id="event_{{ event.id }}">
    <div class="event-data">
        <h2>{{ event.name }}</h2>
        {{ eventSchedule.dateFrom }}
        <div class="summary">
            <div class="briefLogoBox">
                <div class="briefEventLogo">
                    {% if event.logo %}
                        <img src="{{ event.logo.url }}"/>
                    {% endif %}
                </div>
            </div>
            <div class="briefEventDescr">
                    {{ event.descr|truncatewords_html:200|safe }}
            </div>
        </div>
        <div class="eventButtons">
            <div class="likes-block">
                <a href="?hash=event_{{ event.id }}" class="like l-fb">
                    <i class="l-ico"></i>
                    <span class="l-count"></span>
                </a>
                <a href="?hash=event_{{ event.id }}" class="like l-vk">
                    <i class="l-ico"></i>
                    <span class="l-count"></span>
                </a>
                <a href="?hash=event_{{ event.id }}" class="like l-tw">
                    <i class="l-ico"></i>
                    <span class="l-count"></span>
                </a>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="eventButton">
            <a href="#" class="partyButton" {% if not eventSchedule.goes %} style="display: none" {% endif %} id="unGoButton">{% trans "I don't go"%}</a>
            <a href="#" class="partyButton" {% if eventSchedule.goes %} style="display: none" {% endif %} id="goButton">{% trans "I'll go"%}</a>
            <form action="{% url event.views.unGo eventSchId=eventSchedule.pk %}" method="POST" id="unGoForm" class="hidden">
            </form>
    </div>
    {% endif %}
    <div class="eventButton">
        <a href="#">{% trans "Comments"%}</a>
    </div>

    <!-- Party window -->
    <div class="partyWindow" id="partyWindow-{{ eventSchedule.id }}">
        <div class="partyWindowContent">
            <div class="partySubTitle">
                <span>{% trans "Party Suggestions" %}</span>
                <div class="partyCloseButton">
                    <a href="#" class="noBorder ui-widget-header ui-dialog-titlebar-close ui-corner-all" role="button">
                        <span class="ui-icon ui-icon-closethick">close</span>
                    </a>
                </div>
            </div>
            <div class="partySuggestions">
                <!--div class="partySubTitle">Top 5 party suggestions</div-->
                <div class="partySuggestionContainer">
                    <ul class="thumbnails">
                        {% for i in 012345|make_list %}
                            <li class="span2">
                                <a href="#" class="thumbnail">
                                        <img src="http://placehold.it/70x70" alt="">
                                </a>
                             </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="partyCreateSlogan">
                <div class="partySubTitle" >
                    <div class="createPartyButton float-left">
                        <a href="#" id="createPartyButton">{% trans "Go with Own Party!" %}</a>
                        <div class="hidden" id="partyCreatedMessage">{% trans "Party Successfully created!" %}</div>
                    </div>
                    <div class="editPartyButton float-right hidden">
                        <a href="{% url party.views.forEvent eventScheduleId=eventSchedule.pk %}">{% trans "Invite people!" %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="partyWindowControls">
            <div class="nub"></div>
        </div>
        <div class="hidden">
            <form action="{% url event.views.go eventSchId=eventSchedule.pk %}" method="POST" id="createSimpleParty" class="hidden">
            </form>
        </div>
    </div>
</div>