{% load i18n %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<div id="signinPopup">
	Login using<br />
	<div class="forSignin" id="fbSignin">
	  <div id="fbLoggedIn" onclick="Facebook.login(); return false;">
	    <div class="signinAvatar" id="fbSignAvatar">
            <img src="{{ STATIC_PREFIX }}common/images/fbLogoBig.png" style="width: 120px; height: 120px;">
	    </div>
	    <div class="signName" id="fbSignName">
            FaceBook
	    </div>

	  </div>

	</div>

	<div class="forSignin" id="vkSignin">
	  <div id="vkLoggedIn" onclick="Vkontakte.login(); return false;">
	    <div class="signinAvatar" id="vkSignAvatar" >
            <img src="{{ STATIC_PREFIX }}common/images/vkLogoBig.jpg" style="width: 120px; height: 120px;">
	    </div>
   		<div class="signName" id="vkSignName">
               {% trans "Vkontakte" %}
	    </div>

	  </div>

	</div>
    <form id="extLoginForm" action="{% url account.views.extLoginProfile %}" method="POST">
        <input name="lastName" type="hidden">
        <input name="firstName" type="hidden">
        <input name="uid" type="hidden">
        <input name="nickName" type="hidden">
        <input name="photo" type="hidden">
        <input name="provider" type="hidden">
        <input name="accessToken" type="hidden">
        <input name="signedRequest" type="hidden">
        <input name="next" value="{{ request.get_full_path }}" type="hidden">
    </form>
	<div id="register">
		Or <br />
		Register
	</div>
</div>