{% load i18n %}
{% load static %}
{% load widget_tweaks %}


<div class="fastsearch">
    <form method="GET" id="fastSearch">
        <div class="searchInput">
            {{ fastSearchForm.qText|add_class:"wideinput" }}
        </div>
        <div class="advancedSearch">
            <div id="box1" style="border: 1px solid #cdcdcd;
                                                  border-bottom: 1px solid #cecee2;
                                                    border-top: none;
                                                    display: none;
                                                    width:100%;
                                                    height: 200px;
                                                    padding: 7px 2px 2px 0;
                                                    overflow:hidden;">
                <div class="row-fluid form-horizontal">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label span3">{% trans "Category" %}:</label>
                            <div class="controls span3">
                                {{ fastSearchForm.category }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label span3" >{% trans "Activities" %}:</label>
                            <div class="controls span3">
                                {{ fastSearchForm.activities }}
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="control-group span5">
                            <div class="input-prepend">
                                <span class="add-on">{% trans "City" %}</span>
                                {{ fastSearchForm.city }}
                            </div>
                        </div>
                    </div>
                </div>
                Location, Terms, Visits num., facilities, rating
                friends goes, dates,
            </div>
            <div id="box2" style="border: 1px solid #cdcdcd;
                                                    border-top: none;
                                                    width: 100%;
                                                    display: none;
                                                    height: 0;
                                                    overflow:hidden;">
                selected
            </div>
        </div>
        <div class="tabbable tabs-below" style="padding-right: 6px;
                                                padding-left: 6px;
                                                border-top: none;">
            <div class="tab-content">
            </div>
            <ul class="nav nav-tabs" style="margin-bottom: 0; border-top: 0">
                <li>
                    <div class="chosenSearchCriteria">
                        {% for field in fastSearchForm %}
                            {% if field.value %}
                                <span class="label label-info criteria" title="{{ field.label }}"
                                        style="margin-left: 7px;">
                                    {{ field.label }}: {{ field|verbose_name }}
                                    <a href="#" action-data="{{ field.name }}">&times;</a>
                                </span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
                <!--li class="active">
                    <a href="#event" data-toggle="tab">{%  trans "Event" %}</a>
                </li>
                <li>
                    <a href="#place" data-toggle="tab">{% trans "Place" %}</a>
                </li-->
                <li class="pull-right">
                    <button type="submit" class="btn btn-warning" id='searchButton'
                            style="border-top-left-radius: 0;
                                   border-top-right-radius: 0;
                                   height: 37px;">
                        <span class="icon-search"></span> Search
                    </button>
                </li>
                <li class="pull-right">
                    <a href="#"  id='advancedSearchButton'>
                        <!--span class="icon-ok"></span--> Advanced
                    </a>
                </li>
            </ul>
        </div>
    </form>
</div>