{% load field_renderer %}
{% load i18n %}

<div class="eventSchedule well"
     {% if id %}
        id="{{ schForm.prefix }}-{{ id }}"
     {% else %}
        id="{{ schForm.prefix }}"
     {% endif %}
        >
    {{ schForm.id }}
    {{ schForm.DELETE.as_hidden }}
    <input id="schedulePrefix" name="{{ schForm.prefix }}" type="hidden">
    <a class="close" action-bind='closeButton'>&times;</a>
    <div class="eventDates">
        <div class="control-group
        {% if schForm.dateFrom.errors or schForm.timeFrom.errors or schForm.timeTo.errors or schForm.dateTo.errors %}
        error
        {% endif %}
        ">
            <label class="control-label" >{% trans "Event dates" %}</label>
            <div class="controls">
                {% field schForm.dateFrom 'class=dateFrom span3'%}
                {% field schForm.timeFrom 'class=eventTime input-small' %}
                <span>-</span>
                {% field schForm.timeTo 'class=eventTime input-small' %}
                {% field schForm.dateTo 'class=dateTo span3' %}
            </div>
            <p class="help-block">
                {{ schForm.dateFrom.errors|join:" " }}
                {{ schForm.timeFrom.errors|join:" " }}
                {{ schForm.timeTo.errors|join:" " }}
                {{ schForm.dateTo.errors|join:" " }}
            </p>
        </div>
    </div>
    <div class="blogSelection">
        {{ schForm.blog }}
        <!--div class="button"></div-->
    </div>
    <div class="loading"></div>
    {{ schForm.address }} {# address id #}
    <div class="address eventAddress" id="eventAddress">
        <div class="address blogAddress" id="blogAddress"
                {% if schForm.blogAddress %}
             style="display: block"
                {% else %}
             style="display: none"
                {% endif %}
                >
            {% include "event/includes/event_address.html" with address=schForm.blogAddress %}
        </div>
        <div class="address customAddress" id="customAddress"
                {% if schForm.blogAddress %}
             style="display: none"
                {% endif %}
                >
            <input type="hidden" name="addressPrefix" id="addressPrefix" value="{{ schForm.customAddressForm.prefix }}">
            {% include "event/includes/event_address.html" with address=schForm.customAddressForm %}
        </div>
    </div>
    {{ schForm.addressForm.errors }}
</div>