{% extends 'common/base_common.html' %}
{% load i18n %}
{% load static %}

{% block includes %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}common/less/manage.less" rel="stylesheet/less" type="text/css">
    <link href="{{ STATIC_URL }}css/messaging.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/messaging_core.js"></script>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    Messaging.initActions();
</script>
{% endblock %}

{% block content %}
    <div class="restHeader">
        <div class="headerName"><h1>{% trans "Messages" %}</h1></div>
        <div class="subMenu">
            <ul>
                <li>
                    <a href="#" action-data="{% url 'messaging.views.sendMessageTo' %}"
                       id="createMessageButton">Create</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% for message in my_messages %}
            <div class="row-fluid message_feed_header _messageContainer" id="feed_{{ message.pk }}">
                <div class="row-fluid">
                    <a href="#">
                        <strong>{{ message.first_name }} {{ message.last_name }}</strong>
                    </a>
                </div>
                <div class="span2">
                    <p style="margin-top: 5px;">
                        <span class="label label-info" >{{ message.sent|date:"m/d H:i" }}</span>
                    </p>
                </div>
                <div class="span7">
                    {{ message|truncatewords:25 }}
                </div>
                <div class="float-right message-actions">
                    <i class="icon-share"></i> <a href="{% url 'messaging.views.sendMessageTo' user=message.author_id %}">Reply</a>
                </div>
                <div class="clear"></div>
                <div class="read-narrow-button" rel="tooltip" title="Read" action-data="{{ message.pk }}">
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}