{% load i18n %}
{% load static %}
<div class="friendEntry">
    <div class="friendThumb thumbnail">
        <img src="{{ friend.avatar.url }}" alt="friend.first_name">
    </div>
    <div class="friendInfo">
        {{ friend.first_name }}
        {{ friend.last_name }}
    </div>
    <div class="friendActions">
        <ul class="nav nav-list">
            <li><a href="#"><i class="icon-fire"></i>Invite</a> </li>
            <li><a href="#{{ friend.pk }}" action-bind="sendMessage" ><i class="icon-envelope"></i>Send Message</a></li>
        </ul>
    </div>
    <div style="clear: both;"></div>
</div>
