{% extends 'party/party.html' %}
{% load i18n %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load field_renderer %}

{% block includes %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}address/css/address.less" rel="stylesheet/less" type="text/css">
    <link href="{{ STATIC_URL }}common/css/forms.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/party.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ STATIC_URL }}address/address.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/party.js"></script>
    {% include "jquery.multiselect.html" %}
    {% include "jquery.timeentry.html" %}
    {{ createPartyForm.media }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        Party.init();
    </script>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <form action="{%  url party.views.credit %}" method="POST">
            {{ eventSchedulesFormSet.management_form }}
            <div class="row-fluid">
                <div class="buttonPane">
                    <a href="#" class="btn">{% trans "Submit" %}</a>
                </div>
            </div>
            <div class="row-fluid partyHeader">
                <div class="formControl {% if createPartyForm.name.errors %}errorHighlight{% endif %}">
                    {% field createPartyForm.name 'title=Party Name' 'class=wideinput' %}
                </div>
                <div class="errors">
                    {{ createPartyForm.name.errors }}
                </div>
            </div>
            <div class="row-fluid">

                <div class="span3">
                    <div class='divButton'>
                        <div class="partyLogo">
                            {% field createPartyForm.logo "render=preview" %}
                            {{ createPartyForm.logo }}
                        </div>
                    </div>
                    <div class='logoUploadLabel'>
                        {% field createPartyForm.logo "render=upload" %}
                    </div>
                    <div class="errors">
                        {{ createPartyForm.logo.errors }}
                    </div>
                </div>
                <div class="span9">
                    <div class="partyParticipantBox">
                        <div class="partyParticipantActions">
                            <div class="partyParticipantInviteButton divButton">
                                <i class="icon-plus"></i>
                                {% trans "Invite Participants" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid partyScheduleHeader">
                <div class="sectionHeader float-left">
                </div>
                <div class="dropdown float-right" id="partyScheduleMenu">
                    <a class="btn btn-small btn-info dropdown-toggle"
                       data-toggle="dropdown"
                       href="#partyScheduleMenu">
                        <i class="icon-plus icon-white"></i>
                        {% trans "Add Event" %}
                        <b class="caret"></b>
                    </a>
                    <div class="navbar">
                    <ul class="dropdown-menu">
                        <input type="hidden" id="searchEventURL" value="{% url event.views.searchEvent %}">
                        <li><a href="#" id="searchEventButton">Find Event</a></li>
                        <li><a href="#" id="addCustomScheduleButton">Custom Schedule</a></li>
                        <li><a href="#">External Event</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        <div id="scheduleForms" action-bind="ajaxForm">
        {{ partyScheduleFormSet.management_form }}
        <input type="hidden" value="{{ partyScheduleFormSet.prefix }}" id="formPrefix">
        {% for partySchedule in partyScheduleFormSet %}
            <div class="row-fluid partySchedule well">
                <input id="is_bound" value="{{ partySchedule.is_bound }}" type="hidden">
                {{ partySchedule.id }}
                <div class="row-fluid">
                    <a class="close" id="closeButton">&times;</a>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        {{ partySchedule.location }}
                    </div>
                    <div class="span7">
                        {{ partySchedule.eventSchedule }}
                        {{ partySchedule.url }}
                        {{ partySchedule.dateFrom }}
                        {{ partySchedule.timeFrom }}
                        {{ partySchedule.dateTo }}
                        {{ partySchedule.timeTo }}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
            <div class="row-fluid">
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{% trans "Create Party" %}</button>
                    <button class="btn">{% trans "Cancel" %}</button>
                </div>
            </div>
        </form>
        {{ partyScheduleFormSet.errors }}
        {{ createPartyForm.errors }}
    </div>
{% endblock %}