{% extends 'party/party.html' %}
{% load i18n %}
{% load static %}
{% load menu_builder %}
{% load extra %}

{% block includes %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}common/less/manage.less" rel="stylesheet/less" type="text/css">
    <link href="{{ STATIC_URL }}css/party.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/party_manage.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="restHeader">
        <div class="headerName"><h1>{% trans "Parties" %}</h1></div>
        <div class="subMenu">
            <ul>
                <li>
                    <a href="{% url party.views.create %}">Create</a>
                </li>
                <li>
                    <a href="#">Recommended</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="party-list">
        {% for mship in partyMembership %}
            {% include 'party/includes/party_thumb_list_item.html' %}
        {% endfor %}
    </div>

{% endblock %}