{% extends 'party/party.html' %}
{% load i18n %}
{% load static %}
{% load filters %}
{% get_static_prefix as STATIC_PREFIX %}
{% load field_renderer %}

{% block includes %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}address/css/address.less" rel="stylesheet/less" type="text/css">
    <link href="{{ STATIC_URL }}common/css/forms.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/party.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ STATIC_URL }}address/address.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/party.js"></script>
    {% include "jquery.multiselect.html" %}
    {% include "jquery.timeentry.html" %}
    {{ createPartyForm.media }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        Party.init();
    </script>
{% endblock %}

{% block content %}
        <div class="row-fluid span11">
        <form method="POST" class="form-horizontal">
            <input type="hidden" value="{% url 'common.views.findAddress' %}" id="findAddressUrl">
            <!--div class="row-fluid party-privacy-button">
                <img src="{{ STATIC_URL }}images/party_open_icon.png" style="vertical-align: middle;">
                <span>Open This Party</span>
            </div-->
            <div class="row-fluid">
                <div class="span3">
                    <div class='divButton'>
                        <div class="partyLogo">
                            {% field createPartyForm.logo "render=preview" %}
                            {{ createPartyForm.logo }}
                        </div>
                    </div>
                    <div class='logoUploadLabel'>
                        {% field createPartyForm.logo "render=upload" %}
                    </div>
                    <div class="errors">
                        {{ createPartyForm.logo.errors }}
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">{{ createPartyForm.name }}</label>
                        <div class="controls">
                            {% field createPartyForm.name 'title=Party Name' 'input-xlarge' %}
                            <p class="help-inline">{{ createPartyForm.name.errors }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="scheduleForms" action-bind="ajaxForm">
                <div class="row-fluid partySchedule">
                    <div сlass="row-fluid">
                        <div class="span12 controls">
                            {% field  createPartyForm.location "class=span12" %}
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div id="editable" class="span12 controls controls-row">
                            {% field createPartyForm.dateFrom "class=span2" %}
                            {% field createPartyForm.timeFrom "class=span2" %}
                            {% field createPartyForm.timeTo "class=span2" %}
                            {% field createPartyForm.dateTo "class=span2" %}
                            {# field createPartyForm.eventSchedule #}
                            {% field createPartyForm.url %}
                        </div>
                    </div>
                    <div сlass="row-fluid">
                        <div class="span12 controls">
                            <textarea rows="6" cols="5" class="span12" placeholder="Event Description"></textarea>
                        </div>
                    </div>
                </div>
        </div>


        <div class="row">
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    {% if party %}
                        {% trans "Edit Party" %}
                    {% else %}
                        {% trans "Create Party" %}
                    {% endif %}
                </button>
            <div class="float-right">
                <a class="btn btn-small btn-info"
                   href="#{% url 'party.views.invitationList' 0 %}"
                   id="inviteParticipantButton">
                    <span class="icon-plus" style="font-style: italic;"></span>
                    {% trans "Invite Friends" %}
                </a>
                <p class="help-inline">{% if invited > 0 %}{{ invited|length }} invited{% endif %}</p>
            </div>
            <div class="hide" id="participantList">
                <div id="participantTemplate">
                    <input name="invited">
                </div>
            </div>
            </div>
        </div>
        </form>
        </div>
{% endblock %}

{% block hiddenContent %}

{% endblock %}