{% extends 'party/party.html' %}
{% load i18n %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load menu_builder %}

{% block includes %}
    {{ block.super }}
    <link href="{{ STATIC_PREFIX }}common/less/manage.less" rel="stylesheet/less" type="text/css">
{% endblock %}

{% block content %}
    <div class="restHeader">
        <div class="headerName"><h1>{% trans "Invitations" %}</h1></div>
        <div class="subMenu">
            <ul>
                <li>
                    <a href="{% url party.views.credit %}">Create</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Invited</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for mship in partyMembership %}
                <tr>
                    <td>
                        {{ mship.partyMembers|join:', ' }}
                    </td>
                    <td>
                        {{ mship.role }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

{% endblock %}