
#submitButton
{
    float: left;
}

#createBlogBox
{
    margin: auto;
    width: 100%;
}
#createHelp
{
    padding-left: 20%;
    padding-top: 15px;
    margin-bottom: 20px;
}

#createBlogBox label
{
    margin-right: 20px;
}

#createContent
{
    float:left;
    width: 100%;
}



#blogPageBlocks
{
    display: none;
}



.blogInput
{
    
}
.blogButton
{
    float:left;
    width: 100%;
}

#modules
{
    padding: 0;
}
.modulePreview
{
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.modulePreview:hover
{
    background-color: #e6e6fa;
    cursor: pointer;
}
.moduleLogo
{
    float:left;
    width: 67px;
    height: 67px;
    margin-right: 5px;
    background: no-repeat center;
    background-size: auto;
}
.moduleDescr
{
    float:left;
    padding: 4px;
}
.moduleName
{
    color: #778899;
    font-weight: 500;
}