{% extends 'blog/blogs.html' %}
{% load i18n %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block includes %}
   {{ block.super }}
   <link href="{{ STATIC_PREFIX }}common/less/manage.less" rel="stylesheet/less" type="text/css">
   <link href="{{ STATIC_PREFIX }}css/blogs_manage.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class='managementHeader'>
        <h1>{% trans 'Page Management' %}</h1>
        <div class='subMenu'>
            <ul>
                <li>
                    <a href="{% url 'blog.views.create' %}" class="manageButton">
                        <i class="icon-book" ></i>
                        Create Page
                    </a>
                </li>
                <li>
                    <a href="#fqImportPopup" class="manageButton" data-toggle="modal">
                        <i class="icon-chevron-down"></i>
                        Import from Foursquare</a>
                    <div class="modal hide fade" id="fqImportPopup">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3><img src="https://playfoursquare.s3.amazonaws.com/press/logo/poweredByFoursquare_16x16.png"
                                     style="vertical-align: text-top;"> Import venue from FourSquare</h3>
                        </div>
                        <form action="{% url 'blog.views.importFromFoursquare' %}" method="GET">
                        <div class="modal-body">
                            <input name="fqVenueId" type="text" class="input-xlarge" placeholder="Venue ID">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" >Import</button>
                            <button class="btn" data-dismiss="modal">Close</button>
                        </div>
                        </form>
                    </div>
                </li>
                <li>
                    <a href="#" class="manageButton">
                        <i class="icon-search"></i>
                        Find Page
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="items_container">
        {% for blog in myBlogs %}
            <div class="boxedItem" style="background-image: url('{{ blog.logo.url }}')">
                <div class="itemName">{{ blog.name }}</div>
                <a href="{% url 'blog.views.edit' blog.id None%}" class="manageButton"></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}