

/* Party */
.partyTitle
{
    padding-left: 10px;
    padding-top: 4px;
    font-size: 15px;
    margin-bottom: 14px;
}
.partySubTitle
{
    background-color: rgb(59, 89, 152);
    color: white;
    font-weight: 700;
    min-height: 30px;
    margin-bottom: 7px;
    padding-left: 13px;
    line-height: 30px;
    position: relative;
}
.partyCreated
{
    background-color: #0d8f00;
}
.partySubTitle a
{
    color: white;
    text-decoration: none;
}
.partySubTitle
{
    padding-right: 5px;
}
.partySubTitle a:hover
{
    text-decoration: underline;
}

.partyCreateSlogan
{
    margin-bottom: 12px;
}

.partyWindow
{
    position: absolute;
    padding: .2em;
    overflow: hidden;
    display: none;
}

.partyWindowContent
{
    border: solid #778899 1px;
    background-color: white;
    overflow: hidden;
    height: 100%;
}

/* party suggestions */
.partySuggestions
{
    display: block;
}

.partySuggestionContainer
{
    min-height: 100px;
    text-align: center;
}
.partySuggestionContainer ul
{
    display: inline-block;
    padding: 0;
    margin: 0;
}
.partySuggestionContainer li
{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-left: 5px;
    margin-right: 5px;
}

.createPartyButton a
{
    width: 100%;
}

.partySuggestion
{
    
}

.partyCloseButton
{
    position: absolute;
    right: .3em;
    top: 50%;
    width: 19px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 18px;
}
.partyWindowControls
{
}
.partyWindowControls .nub
{
    background-image: url('/static/common/images/nub.gif');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    min-height: 5px;
}

.eventOrganizers
{
    border-top: solid #e6e6fa 1px;
    margin-top: 10px;
}

.sectionHeader
{
    font-size: 15px;
    margin-bottom: 10px;
    padding: 5px;
}

.sectionHeader:hover
{
    cursor: default;
}

.sectionHeaderHighlight
{
    background-color: #fffacd;
}

.eventDescr
{
    font-family: arial;
    font-size: 15px;
}
.eventActivities
{
    
}
.eventLocations
{

}

.blogSelection select
{
    width: 100%;
}

.customAddress
{
    
}
.address
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.address input
{
    width: 100%;
}

.address select
{
    width: 100%;
}

.address .addressHeader
{
    width: 100%;
    float: left;
    border-bottom: solid #e6e6fa 1px;
}
.addressHeader .adr_name
{
    float: left;
}
.addressHeader .deleteAddressButton
{
    float: right;
}


.eventLogo img
{
    height: 178px;
}

.eventLogo
{
    width: 256px;
    height: 178px;
}

.eventLogoBox
{
    margin-bottom: 15px;
}

.briefEventDescr
{
    
}
.briefLogoBox
{
    float:left;
    border: 1px #e6e6fa solid;
    margin-right: 20px;
    margin-left: 20px;
}
.briefEventLogo
{
    width: 128px;
    height: 128px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}
.briefEventLogo img
{
    max-width: 128px;
    max-height: 128px;
    vertical-align: middle;
    display: block;
}
.eventButtons
{
    width: 100%;
    position: relative;
}
.eventButton
{
    display: block;
    background-color: #fffcff;
    float: right;
    min-width: 100px;
    text-align: center;
    border: 1px #e6e6fa solid;
    border-top: none;
    margin-left: -1px;
}
.eventButton a
{
    line-height: 25px;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.eventButton a:hover
{
    background-color: #e6e6fa;
}

.eventDates
{
    /*border-bottom: solid #79B7E7 1px;*/
    float:left;
    width: 100%;
}

.addScheduleButton
{
    border: 1px #e6e6fa dashed;
}

.eventSchedules
{
    margin-top: 20px;
}

.eventSchedule
{
    
}

.event-data
{
    border-bottom: solid #e6e6fa 1px;
    background-color: #fffcff;
    float: left;
    width: 100%;
}
.event-container
{
    border-top: solid #e6e6fa 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}
.event-container .summary
{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.event-container h2
{
    padding-left: 10px;
}

/* Event Fast Search */

.fastsearch
{
    width: 100%;
    margin-bottom: 14px;
    margin-top: 9px;
}
