
.createEventContainer
{
    width: 100%;
}

.eventName
{
    line-height: 30px;
}

.eventName input
{
    width: 97%;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
}

.eventDescr textarea
{
    width: 97%;
}

#eventDataTable
{
    vertical-align: top;
    width: 100%;
}

#eventDataTable td
{
    vertical-align: top;
}