.logo
{
    text-align: center;
}
.logo img
{
    max-height: 200px;
}
.address
{
    width: 100%;
}

.address select
{
    width: 97%;
}

.address input
{
    width: 97%;
}

.address .adr_city
{
    width: 98%;
}

.address .adr_country
{
    width: 98%;
}

.orgName
{
    line-height: 30px;
}
.orgName input
{
    width: 97%;
    height: 30px;
    margin-bottom: 1px;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
}

.orgDescr textarea
{
    width: 97%;
    font-size: 13px;
    font-family: tahoma;
}

.orgDescr
{
    font-size: 13px;
    font-family: tahoma;
}