<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% load i18n %}
{% load compressed %}
{% get_static_prefix as STATIC_PREFIX %}

{% block dummyBlock %}
{% endblock %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

    {% compressed_css 'compressed_css'%}
    <link href="{{ STATIC_PREFIX }}common/plugins/bootstrap/css/bootstrap.css" media="screen" rel="stylesheet" title="CSS" type="text/css" />
    <link href="{{ STATIC_PREFIX }}common/plugins/bootstrap/css/bootstrap-responsive.css" media="screen" rel="stylesheet" title="CSS" type="text/css" />

    <link href="{{ STATIC_PREFIX }}common/plugins/jqueryUI/css/custom-theme/jquery-ui-1.8.17.custom.css" media="screen" rel="stylesheet" title="CSS" type="text/css" />

    <link href="{{ STATIC_PREFIX }}common/css/style.css" media="screen" rel="stylesheet" title="CSS" type="text/css" />
    <link href="{{ STATIC_PREFIX }}common/less/rest.less" media="screen" rel="stylesheet/less" type="text/css" />
    <link href="{{ STATIC_PREFIX }}css/menu_login.css" media="screen" rel="stylesheet" title="CSS" type="text/css" />
    <link href="{{ STATIC_PREFIX }}css/menu_topmenu.css" media="screen" rel="stylesheet" title="CSS" type="text/css" />
    <link href="{{ STATIC_PREFIX }}css/menu_submenu.css" media="screen" rel="stylesheet" title="CSS" type="text/css" />
    {% endcompressed_css %}

    {% compressed_js 'compressed_scripts'%}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}common/js/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}common/plugins/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}common/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}common/js/jquery.labelify.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}common/plugins/jqueryUI/js/jquery-ui-1.8.17.custom.min.js"></script>

    <script type="text/javascript" src="{{ STATIC_PREFIX }}common/js/common.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}common/js/base.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}common/js/socialInitScripts.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}common/js/socialScripts.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}common/js/init.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/menu_login.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/accounts.js"></script>
    {% endcompressed_js %}

    <!-- Plugins -->
    <link href="{{ STATIC_PREFIX }}common/plugins/chosen/chosen.css" media="screen" rel="stylesheet" title="CSS" type="text/css" />
    <script type="text/javascript" src="{{ STATIC_PREFIX }}common/plugins/chosen/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}common/plugins/ajax-django-form/ajax-django-form.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}common/plugins/jquery-transit/jquery.transit.min.js"></script>

    <link href="{{ STATIC_PREFIX }}css/menu_sidemenu.css" media="screen" rel="stylesheet" title="CSS" type="text/css" />


    {% if request.session.mode == 'publish' %}
        <link href="{{ STATIC_PREFIX }}css/base_publisher.css" media="screen" rel="stylesheet" title="CSS" type="text/css" />
    {% endif %}



    {% block includes %}

    {% endblock %}

    <script type="text/javascript" src="{{ STATIC_PREFIX }}common/plugins/less/less-1.3.0.min.js"></script>
    <title>{% block title %}Rest{% endblock %}</title>
</head>

<body>
<div id="fb-root" style="display: none;"></div>
<div id="vk_api_transport" style="display: none;"></div>

<script type="text/javascript">
    {% if user.is_authenticated %}
        Init.apiInit("{{ user.provider }}");
    {% else %}
        Accounts.initLoginPopup();
        Init.apiInit("all");
    {% endif %}
    Common._static = {{ STATIC_URL }};
    Common._media = {{ MEDIA_URL }};
    Base.init(null);
</script>
{% block scripts %}{% endblock %}
{% block top %}{% endblock %}

<!-- Begin Container -->

        <div id="header">
            <div class="wrapper">
                <div class="topMenu" style="width: 100%">
                    <div class="topMenu-inner">
                        <div class="container-custom">
                            <!--a class="brand" href="#">
                                REST
                            </a-->
                            <div class="topMenu-collapse">
                                {% block topmenu %}
                                    <ul class="topMenu-nav">
                                        {% block topmenu_left %}

                                        {% endblock %}
                                    </ul>
                                    <ul class="topMenu-nav float-right">
                                        {% block topmenu_right %}
                                                <li>
                                                    <div id="signin">
                                                        {% if not user.is_authenticated %}
                                                            <a href="#" onclick="Accounts.openLoginBox(); return false;">{% trans "Sign in" %}</a>
                                                        {% else %}

                                                            <a href="#" onclick="Base.toggle_profileBox('#profileBox'); return false;" >
                                                                {% trans "Profile" %}
                                                                <img class="logoutLogo" src="{{ STATIC_URL }}common/images/{{ user.provider }}LogoSmall.png"/>
                                                            </a>
                                                        {%  endif %}
                                                    </div>
                                                </li>
                                            {% block topmenu_right_actions %}
                                            {% endblock topmenu_right_actions %}
                                        {% endblock topmenu_right %}
                                    </ul>
                                {% endblock topmenu %}
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% block userButtons %}
                {% endblock userButtons %}
            </div>
            <div class="topMenu">
                <div class="topMenu-inner">
                    <div class="container-custom">
                        <div class="topMenu-collapse">
                            <ul class="topMenu-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-flag"></i>{% trans "Language" %}
                                        <b class="caret"></b>
                                    </a>
                                        {# request.LANGUAGE_CODE #}
                                        <ul class="dropdown-menu">
                                            {% for lang in LANGUAGES %}
                                                <li><a href="#" onclick="$('#langForm-{{ lang.0 }}').submit();">
                                                    {{ lang.1 }}</a>
                                                </li>
                                                <form id="langForm-{{ lang.0 }}" action="/i18n/setlang/" method="post" class="hidden">
                                                    {% csrf_token %}
                                                    <input name="next" type="hidden" value="{{ request.path }}" />
                                                    <input name="language" value="{{ lang.0 }}" type="hidden">
                                                </form>
                                            {% endfor %}
                                        </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            {% block header %}
            {% endblock %}
        </div>
<div class="wrapper">
    <div id="container" class="container-fluid">
        <div id="container_wrap1">
            <div id="container_wrap2" style="margin-top: 0;">
                <div id="content" class="fillSpace">
                {% block contentHeader %}
                {% endblock %}
                <div id="contentTable" class="container-fluid">
                    <div class="row-fluid">
                        <div id="column_left" class="span3">
                            <div class="fillSpace">
                                {% block leftcolumn %}
                                {% endblock %}
                            </div>
                        </div>
                        <div id="content_container" class="span9">
                            <div  class="fillSpace">
                                {% if messages %}
                                    <div class="messages">
                                    {% block messages %}
                                        {% for message in messages %}
                                                <div class="alert fade in alert-{{ message.tags }}">
                                                    <a class="close" data-dismiss="alert" href="#">×</a>
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                        {% endblock %}
                                    </div>
                                {% endif %}
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                        <!--div id="rightColumnToggleBar" class="span1" onclick="BaseGUI.toggleRightColumn();">
                            <p><img src="{{ STATIC_PREFIX }}common/images/base/base_toggleArrow.png"></p>
                        </div-->
                        <div id="column_right" class="span2">
                            <div class="fillSpace">
                                {% block rightcolumn %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        <!-- Begin Footer -->
        <div id="footer" class="container-fluid">
            {% block footer %}{% endblock %}
            <div class="footerInfo">
                <div class="infoColumn">
                    <p>
                    {% if user.is_authenticated %}
                        <a href="{% url account.views.logoutProfile %}">{% trans "Sign out"%}</a>
                    {% else %}
                        <a href="#" onclick="Accounts.openLoginBox();">{% trans "Sign in"%}</a>
                    {% endif %}
                    </p>
                </div>
                <div class="infoColumn">
                    {% if user.is_authenticated %}
                        {% if not perms.publisher %}
                            <p><a href="{% url publisher.views.publisherRequest %}">Become Publisher</a></p>
                        {% endif %}
                    {% endif %}
                    <p><a href="#">Invest</a></p>
                </div>
                <div class="infoColumn">
                    <p><a href="#">FAQ</a></p>
                    <p><a href="#">About us</a></p>
                    <p><a href="#">Contact</a></p>
                </div>
            </div>
            <div style="position: relative; width: 380px; margin: auto; ">
                <p style="text-align: center;"><span lang="ru">Все права защищены(?).</span>
                <span lang="ru">Пишите, жалуйтесь - </span>
                <a href="mailto:contact@rest.ee">contact@rest.ee</a></p>
            </div>
        </div>
        <!-- End Footer -->
        {% block tail %}{% endblock %}
      </div>
     </div>
    </div>
</div>

<div id="rightSwitchBar">

    <div class="sideSwitcher">

    </div>
    {% if perms.publisher %}
        <div class="sideSwitcher">
             <div class="sideSwitchButton">
                 <a href="{% url common.views.userMode %}">
                     <img src="{{ STATIC_PREFIX }}common/images/base/base_profileSwitch.png">
                 </a>
             </div>
             <div class="sideSwitchButton">
                 <a href="{% url common.views.publisherMode %}" >
                     <img src="{{ STATIC_PREFIX }}common/images/base/base_publisherSwitch.png">
                 </a>
             </div>
        </div>
    {% endif %}

</div>


{% if not user.is_authenticated %}
    {% include "common/popups/signinPopup.html" %}
{% endif %}

{% if debug %}
    <div id="debug" class="debug">
        {% block debug %}{% endblock %}

        <div class="sql">
            {{ sql_queries|length }} queries
            {% for query in sql_queries %}
                <div class="query">
                    <div>Time: {{ query.time }}</div>
                    <div>SQL: {{ query.sql }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<div style="display:none;">
    {% block hiddenContent %}

    {% endblock%}
</div>

</body>

</html>
