{% extends 'common/base.html' %}
{% load i18n %}
{% load menu_builder %}




{% block topmenu_left %}
    {% if request.session.mode == 'publish' %}
            <li >
                <a href="#" onclick="" class="topButton">{% trans "Publications" %}</a>
            </li>
            <li>
                <a href="#" onclick="" class="topButton">{% trans "Statistics" %}</a>
            </li>
    {% else %}
            <li class="topButton">
                <a href="/" onclick="" >{% trans "Popular Events" %}</a>
            </li>
            <li class="topButton">
                <a href="#" onclick="" >{% trans "Recent events" %}</a>
            </li>
    {% endif %}
{% endblock topmenu_left %}


{% block topmenu_right_actions %}
    {% if user.is_authenticated %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% if request.session.mode == 'publish' %}
                    <i class="myicon-gear"></i>
                 {% else %}
                    <!--i class="icon-glass"></i-->
                {% endif %}Rest!
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                {% if request.session.mode == 'publish' %}
                    <li><a href="{% url event.views.credit %}" title="Publish!">
                        <i class="icon-calendar"></i>
                        {% trans "Create Event!" %}</a></li>
                {% else %}
                    <li><a href="{% url search.views.findPlace %}" title="Find Where To Rest!">
                        <i class="icon-glass"></i>
                        {% trans "Rest!" %}</a></li>
                    <li><a href="{% url search.views.findPlace %}">
                        <i class="icon-picture"></i>
                        {% trans "Find Place" %}</a></li>
                    <li>
                        <a href="{% url search.views.findPeople %}">
                            <i class="icon-user"></i>
                        {% trans "Find People" %}</a></li>
                {% endif %}
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </li>
    {% endif %}
{% endblock %}


{% block rightcolumn %}
    {% if user.is_authenticated %}
        <div id="profileBox" >
            <div id="avatarBox">
                <div id="avatar">
                    {% if user.avatar %}
                        <img src="{{ user.avatar.url }}" />
                    {% else %}
                        <img src="{{ STATIC_URL }}common/images/logoStub.png" />
                    {% endif %}
                </div>
                <div id="profileInfo">
                    <div id="name">{{ user.first_name }} {{ user.last_name }}</div>
                    <div id="profileLink"><a href="{% url account.views.edit %}">{% trans "Edit Profile" %}</a></div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if request.session.mode == 'publish' %}
            <div class="sideMenuItem">
                <a href="{% url blog.views.manage %}">{% trans "Pages" %}</a>
            </div>
            <div class="sideMenuItem">
                <a href="{% url organization.views.manage %}">{% trans "Organizations" %}</a>
            </div>
            <div class="sideMenuItem">
                <a href="{% url event.views.manage %}">{% trans "Events" %}</a>
            </div>
    {% else %}
        {% sidemenu %}
        {%  for item in menuItems %}
            {% if item.enabled %}
                <div class="sideMenuItem">
                    <a href="{{ item.url }}">{{ item.title }}</a>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}