<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>

<body>

<form action="{% url common.views.uploadTempImage %}"
      enctype="multipart/form-data"
      method="POST"
      id="uploadForm">
     {{ tempImageForm.image }}
</form>
{% if tempImageForm.errors %}
    {{ tempImageForm.errors }}
{% endif %}

<input type="hidden" value="{{ MEDIA_URL }}{{ imagePath }}" id="imageUrl">
<input type="hidden" value="{{ imagePath }}" id="imagePath">
</body>
</html>