{% load widget_tweaks %}
{% load field_renderer %}

<div class="restAddress">
    {% if address.name.value %}
    <div class="addressHeader">
        <div class="adr_name">{{ address.name }}</div>
        <button class="deleteAddressButton" onclick="return false;"></button>
    </div>
    {% endif %}
    {% if address.instance.id %}
        <input id="adr_id" type="hidden" name="adr_id" value="{{ address.instance.id }}">
        {{ address.id }}
    {% else %}{# if not form #}
        {% if address.pk %} {# if object has id #}
            <input id="adr_id" type="hidden" name="adr_id" value="{{ address.pk }}">
        {% else %} {# if not object #}
            <input id="adr_id" type="hidden" name="adr_id" value="">
        {% endif %}
    {% endif %}

    <div class="control-group">
        <div class="adr_country control">
            {{ address.country }}
            <span class="help-inline">{{ address.country.errors|join:" " }}</span>
        </div>
        <div class="adr_city control">
            {{ address.city }}
            <span class="help-inline">{{ address.city.errors|join:" " }}</span>
        </div>
        <div class="adr_cityArea control">
            {{ address.cityArea }}
            <span class="help-inline">{{ address.cityArea.errors|join:" " }}</span>
        </div>
        <div class="adr_street control">
            {{ address.street }}
            <span class="help-inline">{{ address.street.errors|join:" " }}</span>
        </div>
        <div class="adr_postalCode control">
            {{ address.postalCode }}
            <span class="help-inline">{{ address.postalCode.errors|join:" " }}</span>
        </div>
    </div>
</div>