{% load i18n %}
{% load static %}
{% load widget_tweaks %}


<div class="fastsearch">
    <form method="GET" id="fastSearch">
        <div class="searchInput">
            {{ fastSearchForm.search|add_class:"wideinput" }}
        </div>
        <div class="advancedSearch">
            <div id="box1" style="border: 1px solid #cdcdcd;
                                                  border-bottom: 1px solid #cecee2;
                                                    border-top: none;
                                                    display: none;
                                                    width:100%;
                                                    height: 50px;
                                                    overflow:hidden;">
                <div class="input-prepend">
                    <span class="add-on">{% trans "Category" %}</span>
                    {{ fastSearchForm.category|add_class:"span2" }}
                </div>
                Price, Location, Terms, Visits num., facilities, rating
                friends goes, dates,
            </div>
            <div id="box2" style="border: 1px solid #cdcdcd;
                                                    border-top: none;
                                                    width: 100%;
                                                    display: none;
                                                    height: 0;
                                                    overflow:hidden;">
                selected
            </div>
        </div>
        <div class="tabbable tabs-below" style="padding-right: 6px;
                                                padding-left: 6px;
                                                border-top: none;">
            <div class="tab-content">
            </div>
            <ul class="nav nav-tabs" style="margin-bottom: 0; border-top: 0">
                <li>
                    <div class="chosenSearchCriteria">
                        {% for field in fastSearchForm %}
                            {% if field.value %}
                                <span class="label label-info criteria" title="{{ field.label }}">
                                    {{ field|verbose_name }}
                                    <a href="#" action-data="{{ field.name }}">&times;</a>
                                </span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
                <!--li class="active">
                    <a href="#event" data-toggle="tab">{%  trans "Event" %}</a>
                </li>
                <li>
                    <a href="#place" data-toggle="tab">{% trans "Place" %}</a>
                </li-->
                <li class="pull-right">

                    <a href="#"  id='advancedSearchButton'>
                        <!--span class="icon-ok"></span--> Advanced
                    </a>
                </li>
            </ul>
        </div>
    </form>
</div>