@import "mixins.less";

.logo
{
    a
    {
        float: left;
        margin-right: 14px;
        text-align: center;
        vertical-align: middle;
        display: block;
        padding-left: 10px;
        height: 31px;
    }
}

.topMenu
{
    border: none;
    border-left: solid 1px #e6e6fa;
    border-right: solid 1px #e6e6fa;
    float: left;
    width: 100%;
}
#header
{
    .box-shadow(0px 1px 7px rgba(0,0,0,.15));
    position: relative;
    margin-bottom: 1px;
}

.wideinput
{
    line-height: 35px;
    width: 97%;
    font-size: 25px;
    height: 30px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0;
}
.widetext_area
{
    width: 97%;
}

.clear
{
    clear:both;
}
.helpLabel
{
    color: #bdb9b9;
}

.restHeader
{
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 50px;
}

.headerName
{
    clear: both;
    width: 100%;
}
.friend-list-loading
{
    position: relative;
    top: 50%;
    margin: auto;
    width: 100px;
}
.flist-cell:hover
{
    cursor: pointer;
    background-color: #e6e6fa;
}
.flist-cell
{
    height: 64px;
    border-bottom: 1px dotted #e8e3e3;
}
.flist-column
{
    border-right: 1px solid #e8e3e3;
}
.flist-item-container
{
    overflow-y: auto;
    height: 300px;
}
.flist-item-thumb
{
    display: table-cell;
    vertical-align: middle;
    max-width: 60px;
    max-height: 60px;
    width: 100px;
}
.flist-item-name
{
    line-height: 50px;
    float: left;
    overflow: hidden;
    width: 160px;
    padding-left: 7px;
}
.flist-item-action
{
    width: 40px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 64px;
}
.horizontal-photos
{

}
.horizontal-photo
{
    img{ max-height: 32px; max-width: 32px;}
    padding-left: 7px;
}

/* icons */

.myicon
{
    display: inline-block;
    vertical-align: text-top;
}
.myicon-gear
{
    .myicon;
    background-image: url("../images/glyphs/gear_yellow.png");
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
}
.modal {
    max-height: 550px;
}

.row-empty
{
    height: 30px;
}