

.wideinput
{
    line-height: 35px;
    width: 99%;
    font-size: 25px;
    height: 30px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin: 0;
}

.helpLabel
{
    color: graytext;
}

.noBorder
{
    border: none;
}
.hidden
{
    display: none;
    visibility: visible;
}

.float-left
{
    float: left;
}

.float-right
{
    float: right;
}