{% extends 'event/events_main.html' %}
{% load i18n %}
{% load static %}

{% block includes %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}less/event_group.less" rel="stylesheet/less" type="text/css">
    <link href="{{ STATIC_URL }}common/plugins/my-metro/my-metro.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/event_categories.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/search.js"></script>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
    $(function()
    {
        Search.init();
        $(".metro-live-tile").activeTile();
        $(".event_group").click(function()
        {
            var groupPk = $(this).attr("action-data");
            Search.addCriteria("category",groupPk);
            Search.run();
        });
    });
    </script>
{% endblock %}

{% block content %}
    {% include "event/includes/event_fast_search_field.html" %}
    <div class="row-fluid" style="margin-bottom: 3px;
                                  margin-top: -10px;
                                  z-index: -1;">
        <span class="grayOutHeader">Categories</span>
    </div>
    <div class="event_group_container">
        <div class="row-fluid">
        {% for group in groups %}
            {% if forloop.counter0|divisibleby:"2" %}<div class="row-fluid">{% endif %}
            <div class="metro-live-tile event_group {{ group.name|lower }} span6" action-data="{{ group.pk }}">
                <div class="metro-body">
                    <div class="metro-slides">
                        {% for event in group.events %}
                            <div class="metro-slide-content">
                                <a target="_blank" class="metro-slide-header-link" href="#">
                                    {{ event.name|truncatechars:16 }}
                                </a>
                                <div class="metro-slide-thumbnail">
                                    <img src="{{ event.logo.url }}">
                                </div>
                                <p>{{ event.descr|truncatewords:10 }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <span class="metro-tile-label" data-bind="html: label">{{ group.name }}</span>
                    <span class="metro-tile-counter" data-bind="html: counter"></span>
                </div>
            </div>
            {% if forloop.counter|divisibleby:"2" or forloop.last %}</div>{% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block hiddenContent %}

{% endblock%}