

.blogType
{
    width: 24px;
    height: 24px;
    float:left;
    display: block;
    margin: 5px;
}
.blogNameHeader
{
    font-size: 25px;
    text-align: center;
}

.blogDescription
{
    font-size: 15px;
    font-family: arial;
    padding-left: 10px;
    width: 95%;
}
.generalInfoLeftColumn
{
    border: solid #e6e6fa 1px;
}
