

.partyHeader
{
    margin-bottom: 10px;
}

.partyLogo
{
    width: 178px;
    height: 128px;
    text-align: center;
    display: table-cell;
}

#participantList
{
    padding-left: 3px;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 125px;
}
.participantProfile
{
    width: 32px;
    height: 32px;
    margin-left: 8px;
    margin-top: 6px;
    margin-bottom: 1px;
    float: left;
    padding: 0px;
    background-size: contain;
    background: no-repeat center;
    text-align: center;
}
.participantProfile img
{
    max-width: 32px;
    max-height: 32px;
}
.participantProfile:hover
{
    cursor: pointer;
}
.partyParticipantBox
{
    border: 1px solid #e6e6fa;
    height: 150px;
    position: relative;
}
.partyParticipantInviteButton
{
    border: none;
    background-color: #faf4f4;
    width: 100%;
    padding: 3px 0 3px 0;
}

.partyParticipantStatsBox
{
    border: 1px solid #e6e6fa;
    border-top: none;
    padding-left: 10px;
    padding-right: 10px;
}

.partyScheduleHeader
{
    margin-top: 20px;
}

.partySchedule
{
    margin-top: 10px;
    width: auto;
}

.partySchedule .scheduleMap
{
    float: right;
}

.party-privacy-button
{
    margin-top: 10px;
    height: 20px;
    background-color: #f8f8fa;
    padding: 10px 0 10px 10px;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
}

.party-privacy-button:hover
{
    background-color: #e6e6fa;
    cursor: pointer;
}

.party-member-thumb
{
    width: 32px;
    height: 32px;
    padding: 4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5px;
}