{% load static %}
{% load i18n %}
{% load field_renderer %}
{% get_static_prefix as STATIC_PREFIX %}

<link href="{{ STATIC_PREFIX }}css/event_create.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/event_create.js"></script>


<script type="text/javascript">
    CreateEvent.init();
</script>


<div class="createEventContainer">

    <div class="divButton eventName">
        {% field eventForm.name 'title=Event Name' %}
    </div>
    <div class="errors">
        {{ eventForm.name.errors }}
    </div>

    {{ eventForm.errors }}

</div>

