{% extends 'events/events.html' %}

{% block includes %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}common/js/social/likeButtons/buttons.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ STATIC_URL }}common/js/social/likeButtons/buttons.js"></script>
    <link href="{{ STATIC_URL }}css/event.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function(){
            $('.like').socialButton();
        });
    </script>
{% endblock %}

{% block content %}

    {% for eventSchedule in eventSchedules %}
        {% with eventSchedule.event as event %}
            {% include "event_brief_info.html" %}
        {% endwith %}
    {% endfor %}

{% endblock content %}