{% extends 'events/events.html' %}
{% load i18n %}
{% load field_renderer %}


{% block includes %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}common/css/forms.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/event_create.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/event.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/event_create.js"></script>
    {% include "jquery.multiselect.html" %}
    {% include "jquery.timeentry.html" %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        CreateEvent.init();
    </script>
{% endblock %}

{% block content %}
    <div class="createEventContainer">
        <form id="eventDataForm"
              {%  if eventForm.instance.pk %}
                action="{% url event.views.edit eventForm.instance.pk %}"
              {% else %}
                action="{% url event.views.create %}"
              {% endif %}
              method="POST"
              enctype="multipart/form-data">
            
            <div class="buttonPane">
                <a href="#" onclick="CreateEvent.submitForm('#eventDataForm');return false;">Submit</a>
            </div>
        <table id="eventDataTable" >
            <tr>
                <td colspan="2">
                    <div class="divButton eventName">
                        {% field eventForm.name 'title=Event Name' %}
                    </div>
                    <div class="errors">
                        {{ eventForm.name.errors }}
                    </div>
                </td>
            </tr>
            <tr>
                <td width="256px" rowspan="99">
                    <div class="eventLogoBox">
                        <div class='divButton eventLogo'>
                            <div onclick="CommonGUI.openUploadWindow('#uploadDialog','#eventLogoSrc');">
                                <img id='eventLogoSrc' src="{{ STATIC_URL }}common/images/logoStub.png">
                            </div>
                        </div>
                        <div class='eventLogoUpload'>
                                <a href="#" onclick="CommonGUI.openUploadWindow('#uploadDialog','#eventLogoSrc');">Upload</a>
                        </div>
                    </div>

                    <div class="eventLocations">
                        <div class="sectionHeader">Event Locations: </div>
                        <div class="eventBlogs">
                            <div class='eventBlogsSelection'>
                                {{ eventForm.blogs }}
                            </div>
                            <div class="errors">
                                {{ eventForm.blogs.errors }}
                            </div>
                        </div>
                        <div class="eventAddresses" id="eventAddresses">
                            {% for address in addresses %}
                                <div class="address" id="adr-{{ address.instance.id }}">
                                    {% include 'event_address.html' %}
                                </div>
                            {% endfor %}
                        </div>
                        <input type="hidden" value="{% url blogs.views.getBlogAddress %}" id="getAddressURL">
                        <a href="#">Add Custom Address</a>
                        <div class="address" id="addressTemplate" style="display: none">
                            {% include 'event_address.html' %}
                        </div>
                    </div>
                    <div class="eventOrganizers">
                        <div class="sectionHeader">Organizers: </div>
                        <div class="eventOrganizerSelection">
                            <div class="organizerSelection">
                                {{ eventForm.organizers }}
                            </div>
                            <div class="errors">
                                {{ eventForm.organizers.errors }}
                            </div>
                        </div>
                        <div class="chosenOrganizers" id="chosenOrganizers">

                        </div>
                    </div>
                </td>
                <td>
                    <div class="eventDates">
                        <div class="eventDate">
                            {{ eventForm.dateFrom }}
                            {% field eventForm.timeFrom 'class=eventTime' %}
                            <div class="errors">
                                {{ eventForm.dateFrom.errors }}
                            </div>
                        </div>
                        <div class="eventDate" style="float:right">
                            {{ eventForm.dateTo }}
                            {% field eventForm.timeTo 'class=eventTime' %}
                            <div class="errors">
                                {{ eventForm.dateTo.errors }}
                            </div>
                        </div>

                    </div>
                    <div class="divButton eventDescr">
                        {% field eventForm.descr 'title=Event Description' 'class=eventDescr' %}
                        <div class="errors">
                            {{ eventForm.descr.errors }}
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="vertical-align: top;">

                <td>
                    <div class="eventActivities">
                       <div class="formField">
                            <div class="fieldLabel">{% trans 'Event Activities' %}:</div>
                            <div class="fieldInput">
                                {{ eventForm.activities }}
                            </div>
                            <div class="fieldRight">
                                <a href="#" id="addNewEventType">Add New</a>
                            </div>
                            <div class="fieldError errors">
                                {{ eventForm.activities.errors }}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

        </table>
        </form>
    </div>
    <div style="display: none">
        <div id="uploadDialog">
            <iframe src="{% url common.views.uploadTempImage %}" id="uploadLogoFrame" width="100%" height="100%">
            </iframe>
        </div>
    </div>
{% endblock %}